<div class= "container">
  <header class= "jumbotron">
    <h1>Alex's Message Board</h1>
    {{#link-to 'index'}}Home{{/link-to}}
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}}Contact Us{{/link-to}}
  </footer>
</div>
